@import "../TaskPanel/TaskPanel";

.card_panel {
  flex: 0 0 250px;
  padding: 0.5em 0.5em 3.5em 0.5em;
  border-radius: 3px;
  transition: background-color 300ms;

  box-shadow: 0 3px 5px rgba(50, 50, 50, 0.3);

  &_normal {
    background-color: rgb(240, 240, 240);
  }

  &_dragged {
    background-color: deepskyblue;
  }

  &_dropped {
    background-color: LimeGreen;
  }

  &__title {
    pointer-events: none;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 4px 0;
    border-radius: 3px;
    background-color: rgb(70, 70, 70);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__remove_card {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);

    pointer-events: auto;
  }

  .task_panel + .task_panel {
    margin-top: 0.5em;
  }

  &__add_task {
    margin-top: 0.5em;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    color: gray;
    font-size: 1.2rem;
    cursor: pointer;
  }
}