.task_panel {
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  transition: all 300ms;

  &_normal {
    background-color: white;
    color: black;
  }

  &_dragged {
    background-color: deepskyblue;
    color: white;
  }

  &_dropped {
    background-color: orangered;
    color: white;
    border-bottom: 1px solid transparent;
    transform: translateY(5px);
  }
}