.task_panel {
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid gray;
  transition: all 300ms;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &_normal {
    background-color: white;
    color: black;
  }

  &_dragged {
    background-color: deepskyblue;
    color: white;
  }

  &_dropped {
    background-color: LimeGreen;
    color: white;
    border-bottom: 1px solid transparent;
  }

  &__remove_task {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: transparent;
    color: gray;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}